/* Default style for blackblog. */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #EFEFEF;
  font-family: "Chivo", serif, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13pt;
}

a {
  color: #2F7FB0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#wrap {
  width: 80%;
  margin: 0 auto;
}

h1#header {
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid #BBB;
  color: #EFEFEF;
  margin: 13pt 0;
}

h1 {
  margin: 18pt 0;
  font-size: 26pt;
}

p {
  margin: 13pt 0;
}

#posts-list li {
  padding: 2pt;
  margin: 5pt 0;

  list-style-type: none;

  font-size: 14pt;
}

#posts-list li:before {
  content: "\25B8 \0020"
}

#posts-list li .date {
  color: #8FDFF0;
}

#post-date {
  float: right;
  font-weight: normal;
  font-style: italic;
  font-size: 16pt;
  line-height: 26pt;
}
