/* Default style for blackblog. */

body {
  background-color: #111;
  color: #EFEFEF;
  font-family: "Chivo", serif, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  color: #2F7FB0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#wrap {
  width: 80%;
  margin: 0 auto;
}

h1#header {
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid #BBB;
  color: #EFEFEF;
}
