{{/*

  Index

  This is the index of all the posts in the blog.

  Variables:
  - Posts: An array of objects containing: URL, Date, and Title.

*/}}

<p>
  Welcome to my blog. It is black. It is powered by a cool <a href="http://golang.org">Go</a>
  program called <a href="https://github.com/rsesek/blackblog">blackblog</a>. My
  name is Inigo Montoya; you killed my father, prepare to die. This blog is about
  many things, but most importantly, it is about nothing.
</p>

<h1>Posts</h1>

<ul id="posts-list">
{{range $_, $post := .Posts}}
  <li>
    <a href="{{.CreateURL}}">
      <span class="title">{{.Title}}</span>
      {{if .Date}}&mdash; <span class="date">{{.Date}}</span>{{end}}
    </a>
  </li>
{{end}}
</ul>
